.button-container {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: auto;
    background: $backgroundPrimary;
    gap: 10px;

    button {
        @include button-style;

        &:hover {
            cursor: pointer;
        }
    }

    #next {
        background-image: url(../../../assets/arrow-gray-right.png);

        &:hover {
            background-image: url(../../../assets/arrow-blue-right.png);
            border: 1px solid $foregroundPrimary;
        }
    }
    
    #previous {
        background-image: url(../../../assets/arrow-gray-left.png);

        &:hover {
            background-image: url(../../../assets/arrow-blue-left.png);
            border: 1px solid $foregroundPrimary;
        }
    }
    

}