.bottom-slider-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;
    margin-right: 50px;
    margin-top: 5px;
}

.bottom-slider {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}