.top-slider-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 5px;
}

.top-slider {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
