@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

:root {
    --background-color-primary: #fff;
    --background-color-secondary: #ddd;
    --foreground-color-primary: #134880;
    --foreground-color-secondary: #484A4C;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.container {
    margin: auto;
    max-width: 941px;
    display: flex;
    justify-content: center;
    overflow: visible;
    justify-content: flex-end;
    flex-direction: row;
}

.header {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100px;
    background-color: var(--background-color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 19px;
}

.header--small {
    width: 301px;
    background-color: var(--background-color-secondary);
}

.header--big {
    width: 621px;
    background-color: var(--background-color-secondary);
}

.footer {
    width: 941px;
    height: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--background-color-secondary);
}

.slider {
    background-color: var(--background-color-primary);
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.image {
    height: 200px;
    width: auto;
    border-radius: 5px;
}

.top-slider {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.top-slider-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 5px;
}

.bottom-slider {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.bottom-slider-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;
    margin-right: 50px;
    margin-top: 5px;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: auto;
    background: var(--background-color-primary);
    gap: 10px;
}

.button-container button {
    border: 1px solid var(--background-color-secondary);
    background-color: var(--background-color-primary);
    border-radius: 5px;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
}

.button-container button:hover {
    cursor: pointer;
    
}

#next {
    background-image: url(../assets/arrow-gray-right.png);
    transition: all 0.5s ease;
}

#previous {
    background-image: url(../assets/arrow-gray-left.png);
    transition: all 0.5s ease;
}

#next:hover {
    background-image: url(../assets/arrow-blue-right.png);
    border: 1px solid var(--foreground-color-primary);
}

#previous:hover {
    background-image: url(../assets/arrow-blue-left.png);
    border: 1px solid var(--foreground-color-primary);
}

.text-container {
    width: auto;
    background: var(--background-color-primary);
    line-height: 20px;
    margin-left: 10px;
}

.text-container h1 {
    color: var(--foreground-color-primary);
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    line-height: 40px;
    letter-spacing: -0.2px;
    width: 300.93px;
}

.text-container p {
    color: var(--foreground-color-secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    width: 300.93px;
}