$nextBlue: url(../../../../assets/arrow-blue-right.png);
$previousBlue: url(../../../../assets/arrow-blue-left.png);
$nextGray: url(../../../../assets/arrow-gray-right.png);
$previousGray: url(../../../../assets/arrow-gray-left.png);